.section-1 {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section-1 > h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 3rem;
}
.card {
  width: 350px;
  height: 400px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
}
.img-container {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-content {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.address {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-box {
  border-top: 1px solid rgb(184, 178, 178);
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.slideshow-container {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mySlides {
  width: 100%;
  /* height: 100%; */
  display: none;
  justify-content: space-around;
  align-items: center;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 1rem;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 100;
}
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 1rem;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 100;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation: fade 1.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
