.footer {
  max-width: 80%;
  margin: 3rem auto;
  overflow: auto;
  border-top: 1px solid rgb(222, 219, 219);
  padding-top: 2rem;
}

.footer,
.footer a {
  color: #757575;
  font-size: 0.9rem;
  text-decoration: none;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer .footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.footer-links li {
  list-style: none;
  line-height: 2.4;
}
.footer-links li a:hover {
  color: black;
}
